.product {
    width: 100%;
    gap: 10px;
    padding: 10px;

    &_content {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    &_img img {
        height: 500px;
        width: 500px;
    }

    &_content_item {
        h1 {
            font-size: 20px;
        }

        h4 {
            font-size: 20px;
            font-weight: bold;
        }
    }

}